body {
    text-align: center;
    background-color: rgb(244, 210, 169);
}
.capa{
    width: 100%;
}
.beneficios{
    text-align: left;
    background-color: antiquewhite;
}  
ul{
    display: inline block
    vertical-aling;
}
.foto-beneficio {
    width: 30%;

}